# Ignore .snakemake
.snakemake/

# Ignore notes, txt etc
command

# Ignore mock data (backup)
mockdata/
oldtoy/
backup

# PyCache
.*__pycache__
utils/__pycache__/

# generated data files
data/

# rawdata (size problem)

#rawdata/reference/*
rawdata/snpeffdata/genomes/*

#dag.svg
toydata/
