# Ignore .snakemake
.snakemake/
*/.snakemake.*

# PyCache
*/__pycache__

# generated data files
output/*
!output/readme

# rawdata (size problem)
genomes_and_annotations/snpeffdata/

# Notes and experiments
todo
test.R
