# Ignore .snakemake
.snakemake/
*/.snakemake.*

# Ignore notes, txt etc
command

# PyCache
*/__pycache__

# generated data files
data/*
!data/readme
log/
plots/

# rawdata (size problem)
#rawdata/reference/*
#rawdata/snpeffdata/genomes/*
rawdata/snpeffdata/*
genomes_and_annotations/snpeffdata/
